$color-dark: #555;
$color-darker: #222;
$color-light: rgb(210, 210, 210);


@mixin flex($justCont, $alignItems) {
    display: flex;
    justify-content: $justCont;
    align-items: $alignItems;
}

.body{
    background-color: $color-dark;
    height: 100vh;
    width: 100%;
    
    @include flex(center, center);

    .wrapper{
        background-color: $color-darker;
        height: 50%;
        width: 50%;

        @include flex(center, center )
    }
}